<!--breadcrumb start-->
<div class="breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-text-center d-align-center">
        <h2 class="title">Información de Interes y Ultimas Noticias</h2>
      </div>
      <div class="col-md-6 col-sm-6 col-text-center">
        <nav aria-label="breadcrumb" class="blog-bradcrumb">
          <ol class="breadcrumb bg-transparent mb-0">
            <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
            <li class="breadcrumb-item active">
              <a [routerLink]="'/blog/info'">Noticias</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--breadcrumb end -->
<!--blog Section start-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-9 blog-sec">
        <div class="row blog-list">
          <div class="col-md-12">
            <div
              *ngFor="let blog of blogItems"
              class="blog-item col-lg-6 col-md-12"
            >
              <div class="blog-block">
                <div class="blog-box">
                  <div class="overflow-hidden">
                    <a [routerLink]="'/blog/details/' + blog.id"
                      ><img [src]="blog.img" alt="blog" class="img-fluid img-blog-left"
                    /></a>
                  </div>
                </div>
              </div>
              <div class="blog-text">
                <a [routerLink]="'/blog/details/' + blog.id">
                  <h3>
                    {{
                      blog.title.length > 30
                        ? (blog.title | slice: 0:30) + "..."
                        : blog.title
                    }}
                  </h3>
                  <!--  <p>{{ blog.description }}</p> -->
                </a>
                <h5>
                  {{
                    blog.author.length > 15
                      ? (blog.author | slice: 0:15) + "..."
                      : blog.author
                  }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar section -->
      <div class="col-md-4 col-lg-3 order-md-first list-sidebar">
        <div class="sidebar">
          <div class="sidebar-space">
            <h4 class="blog-title">Categorias</h4>
            <div class="blog-divider"></div>
            <div class="blog-cat-detail">
              <ul>
                <li *ngFor="let cat of categories" class="marg-15">
                  <a [href]="'/blog/info?category_id=' + cat.id">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    {{ cat.description }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <h4 class="blog-title">Ultimas Publicaciones</h4>
          <div class="blog-divider"></div>
          <div class="recent-blog marg-20">
            <div *ngFor="let blog of blogItemsShort" class="media">
              <img class="mr-3 img64" [src]="blog.img" alt="blog" />
              <div class="media-body">
                <a [routerLink]="'/blog/details' + blog.id">
                  <h5 class="mt-0">
                    {{
                      blog.title.length > 15
                        ? (blog.title | slice: 0:15) + "..."
                        : blog.title
                    }}
                  </h5>
                  <!-- como poner lo de los 3 punticos -->
                </a>
                <p class="m-0">{{ blog.updated_at }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar section -->
    </div>
  </div>
</section>
<!--blog Section End-->
