<!--breadcrumb start-->
<div class="breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-text-center d-align-center">
        <h2 class="title">Publicación</h2>
      </div>
      <div class="col-md-6 col-sm-6 col-text-center">
        <nav aria-label="breadcrumb" class="blog-bradcrumb">
          <ol class="breadcrumb bg-transparent mb-0">
            <li class="breadcrumb-item">
              <a [routerLink]="'/home'">Inicio</a>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="'/blog/left-side'">Noticias</a>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="'/blog/details'">Publicación</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--breadcrumb end -->
<!-- blog Section starts -->
<section>
  <div class="container">
    <div *ngIf="blogItem" class="row">
      <div class="col-sm-12">
        <div class="blog-item">
          <div class="blog-block">
            <div class="blog-box">
              <div class="overflow-hidden">
              
                  <img [src]="blogItem.photo" alt="blog" class="img-fluid" />
            
              </div>
            </div>
          </div>
          <div class="blog-text">
            <h6>{{ blogItem.updated_at }}</h6>

            <h3 class="blog-head">{{ blogItem.title }}</h3>

            <div class="blog-divider"></div>
            <div class="blog-description">
              <p>{{ blogItem.description }}</p>
              <h5>{{ blogItem.author }}</h5>
              <!-- <h5 class="pull-right"> 10 <i class="fa fa-heart-o"></i>, 50 <i class="fa fa-comments-o"></i></h5> -->
            </div>
          </div>
        </div>
        <div class="blog-divider"></div>
        <!--    <div class="reply-comment">
          <div class="media">
            <img class="align-self-top mr-3" src="assets/images/blog/blog-comment.jpg" alt="blog">
            <div class="media-body">
              <a [routerLink]="'/blog/details'">
                <h5 class="mt-0">Lorem Ipsum Is Simply Dummy</h5>
              </a>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Donec sed odio dui.</p>
            </div>
          </div>
          <div class="media">
            <img class="align-self-top mr-3" src="assets/images/blog/blog-comment-two.jpg" alt="blog">
            <div class="media-body">
              <a [routerLink]="'/blog/details'">
                <h5 class="mt-0">Lorem Ipsum has been the</h5>
              </a>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Donec sed odio dui.</p>
            </div>
          </div>
          <div class="media">
            <img class="align-self-top mr-3" src="assets/images/blog/blog-comment-three.jpg" alt="blog">
            <div class="media-body">
              <a [routerLink]="'/blog/details'">
                <h5 class="mt-0">all the Lorem Ipsum Generator</h5>
              </a>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            </div>
          </div>
        </div>
        <div class="blog-divider"></div>
        <div class="row">
          <div class="col-md-10 offset-md-1 leave-coment">
            <h3 class="text-center">Leave Your Comment</h3>
            <form class="theme-form footer-form p-0 mt-3">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6 col-md-12 md-fgrup-margin">
                    <input type="text" class="form-control" placeholder="your name">
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email address">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="message"></textarea>
              </div>
              <div class="form-button">
                <button type="submit" class="btn btn-custom theme-color">send</button>
              </div>
            </form>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!--blog Section End-->
