<!--breadcrumb start-->
<div class="breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-text-center d-align-center">
        <h2 class="title">Blog<span> Detalle</span></h2>
      </div>
      <div class="col-md-6 col-sm-6 col-text-center">
        <nav aria-label="breadcrumb" class="blog-bradcrumb ">
          <ol class="breadcrumb bg-transparent mb-0">
            <li class="breadcrumb-item"><a [routerLink]="'/home'">Inicio</a></li>
            <li class="breadcrumb-item active"><a [routerLink]="'/blog/details'">Blog Detalle</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--breadcrumb end -->
<!-- blog Section starts -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="blog-item">
          <div class="blog-block">
            <div class="blog-box">
              <div class="overflow-hidden">
                <a [routerLink]="'/blog/details'">
                  <img src="assets/images/blog/CoronavirusG.jpg" alt="blog" class="img-fluid">
                </a>
              </div>
            </div>
          </div>
          <div class="blog-text">
            <h6>8 marzo 2020</h6>
            <a [routerLink]="'/blog/details'">
              <h3 class="blog-head">Coronavirus y diabetes: preparados, no asustados.</h3>
            </a>
            <div class="blog-divider"></div>
            <div class="blog-description">
              <p>Dada la alarma sanitaria y social que está provocando la pandemia de coronavirus, y su especial impacto en las poblaciones de edad más avanzada y/o con enfermedades asociadas, desde la Sociedad Española de Diabetes (SED) se quiere mandar un mensaje de calma y tranquilidad, así como se ofrecen algunas recomendaciones prácticas para las personas con diabetes.</p>
              <p>Los coronavirus son virus tipo ARN monocatenarios positivos, lo cual quiere decir que no precisan de gran parte de la maquinaria de la célula huésped para replicarse directamente en su citoplasma. “Son simples y efectivos”, como indica el Dr. Alfonso López Alba, endocrinólogo y Director de Comunicación de la Sociedad Española de Diabetes (SED). Su analogía con una corona corresponde a la forma esférica de su cubierta (cápside) que contiene proteínas con restos de azúcares (glicoproteina S) que forman los abultamientos de su superficie (plexómeros) y que facilitan su penetración en las membranas de las células, sobre todo epiteliales, de las mucosas del tracto respiratorio. Tal y como explica el experto de la SED, “estas características explican su alta capacidad de contagio”.</p>
              <p>Su transmisión se produce mediante pequeñas gotas en aerosol, mayores de 5 micras de diámetro, de las secreciones respiratorias y, lo que es muy importante, por transmisión mecánica a través del contacto cutáneo. Como esas pequeñas gotas raramente alcanzan distancias mayores a 2 metros, “resulta en general más eficaz el correcto lavado de manos y el uso de geles hidroalcohólicos que las mascarillas, no siempre utilizadas de forma correcta y que, en su mayoría, no tienen especificaciones para la protección frente a virus”, aclara el Dr. Alfonso López Alba, quien indica que “estarían básicamente indicadas para personas infectadas y profesionales de la sanidad”. Además, según añade, “pueden crear una falsa sensación de seguridad y si no son correctamente desechadas podrían producir, incluso, riesgo de contagio por el contacto con su exterior”.</p>
              <h5>Pedro Hernandez</h5>
              <!-- <h5 class="pull-right"> 10 <i class="fa fa-heart-o"></i>, 50 <i class="fa fa-comments-o"></i></h5> -->
            </div>
          </div>
        </div>
        <div class="blog-divider"></div>
     <!--    <div class="reply-comment">
          <div class="media">
            <img class="align-self-top mr-3" src="assets/images/blog/blog-comment.jpg" alt="blog">
            <div class="media-body">
              <a [routerLink]="'/blog/details'">
                <h5 class="mt-0">Lorem Ipsum Is Simply Dummy</h5>
              </a>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Donec sed odio dui.</p>
            </div>
          </div>
          <div class="media">
            <img class="align-self-top mr-3" src="assets/images/blog/blog-comment-two.jpg" alt="blog">
            <div class="media-body">
              <a [routerLink]="'/blog/details'">
                <h5 class="mt-0">Lorem Ipsum has been the</h5>
              </a>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Donec sed odio dui.</p>
            </div>
          </div>
          <div class="media">
            <img class="align-self-top mr-3" src="assets/images/blog/blog-comment-three.jpg" alt="blog">
            <div class="media-body">
              <a [routerLink]="'/blog/details'">
                <h5 class="mt-0">all the Lorem Ipsum Generator</h5>
              </a>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            </div>
          </div>
        </div>
        <div class="blog-divider"></div>
        <div class="row">
          <div class="col-md-10 offset-md-1 leave-coment">
            <h3 class="text-center">Leave Your Comment</h3>
            <form class="theme-form footer-form p-0 mt-3">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6 col-md-12 md-fgrup-margin">
                    <input type="text" class="form-control" placeholder="your name">
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email address">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="message"></textarea>
              </div>
              <div class="form-button">
                <button type="submit" class="btn btn-custom theme-color">send</button>
              </div>
            </form>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!--blog Section End-->
