<app-header></app-header>
<div class="page-margin">
  <router-outlet></router-outlet>
</div>
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="about-contain">
          <div>
            <h2 class="title">El abc de la diabetes</h2>
            <p class="caption-about">
              <!--In-Glu es un sistema de información orientado al apoyo del manejo de los servicios médicos, más específicamente aquellos pertenecientes al club del diabético, siendo un sistema multi plataforma, proporciona acceso a los usuarios desde la comodidad de su teléfono celular o desde una página web. Generando información de alta fidelidad y relevante para los miembros del club, médicos asociados, y el grupo de apoyo;  brindando un mejor control, de seguimiento de manera efectiva, eficaz y eficiente, ayudando a la toma de decisiones tanto para el paciente como para los miembros de apoyo y médicos.-->
            </p>
            La diabetes es una enfermedad que se presenta cuando el nivel de
            glucosa en la sangre, también conocido como azúcar en la sangre, es
            demasiado alto. La glucosa en la sangre es la principal fuente de
            energía y proviene de los alimentos. La insulina, una hormona que
            produce el páncreas, ayuda a que la glucosa de los alimentos ingrese
            en las células para usarse como energía. Algunas veces, el cuerpo no
            produce suficiente o no produce nada de insulina o no la usa
            adecuadamente y la glucosa se queda en la sangre y no llega a las
            células. <br />
            Con el tiempo, el exceso de glucosa en la sangre puede causar
            problemas de salud. Aunque la diabetes no tiene cura, la persona con
            diabetes puede tomar medidas para controlar su enfermedad y
            mantenerse sana. <br />
            A veces las personas cuando tiene diabetes dicen que tienen “un
            poquito alto el azúcar” o que tienen “prediabetes”. Estos términos
            nos hacen pensar que la persona realmente no tiene diabetes o que su
            caso es menos grave. Sin embargo, todos los casos de diabetes son
            graves
          </div>
        </div>
      </div>
      <div class="col-md-7 d-medium-none">
        <div class="about-right">
          <div class="about-phone">
            <img
              [src]="
                'https://ingludiag.blob.core.windows.net/resources/image/portal/diabetes.png'
              "
              class="img-fluid diabetes-img"
              alt="aboutus"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="feature" class="feature">

  <div class="container">
    <div class="row">
      <div class="feature-phone">
        <img
          [src]="
            'https://ingludiag.blob.core.windows.net/resources/image/portal/diabetes2.png'
          "
          class="img-fluid diabetes-2"
          alt=""
        />
      </div>
      <div class="offset-lg-5 col-lg-7">
        <div class="row">
          <div  class="col-sm-12">
            <h2 class="title">
              <span
                >Hay dos tipos principales de diabetes. Las causas y los
                factores de riesgo son diferentes para cada tipo:</span
              >
            </h2>
          </div>
         
        </div>
        <div class="row">
          <div class="col-sm-12 ">
         
              La diabetes tipo 1 es menos común. Se puede presentar a
              cualquier edad, pero se diagnostica con mayor frecuencia en
              niños, adolescentes o adultos jóvenes. En esta enfermedad, el
              cuerpo no produce o produce poca insulina. Esto se debe a que
              las células del páncreas que producen la insulina dejan de
              trabajar. Se necesitan inyecciones diarias de insulina. La causa
              exacta de la incapacidad para producir suficiente insulina se
              desconoce.<br/> La diabetes tipo 2 es más común. Casi siempre se
              presenta en la edad adulta. pero debido a las tasas altas de
              obesidad, ahora se está diagnosticando con esta enfermedad a
              niños y adolescentes. Algunas personas con diabetes tipo 2 no
              saben que padecen esta enfermedad. Con la diabetes tipo 2, el
              cuerpo es resistente a la insulina y no la utiliza con la
              eficacia que debería. No todas las personas con diabetes tipo 2
              tienen sobrepeso o son obesas. Hay otras causas de diabetes, y
              algunas personas no se pueden clasificar como tipo 1 ni 2.
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
