<app-header></app-header>
<!--FAQ Section start-->
<div class="page-margin">
  <!--breadcrumb start-->
  <div class="breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-text-center d-align-center">
          <h2 class="title"><span>FAQ</span></h2>
        </div>
        <div class="col-md-6 col-sm-6 col-text-center">
          <nav aria-label="breadcrumb" class="blog-bradcrumb ">
            <ol class="breadcrumb bg-transparent mb-0">
              <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
              <li class="breadcrumb-item active"><a [routerLink]="'pages/faq'">FAQ</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--breadcrumb end -->
  <!-- sign in -->
  <section>
    <!--faq in -->
    <div class="faq">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="accordion">
              <div *ngFor="let faq of faqs" class="card border-theme mb-3 radius-0">
                <div class="card-header" [id]="'heading' + faq.id" data-toggle="collapse" [attr.data-target]="'#collapse' + faq.id" aria-expanded="true" [attr.aria-controls]="'collapse' + faq.id">
                  <a class="">{{faq.question}} <i class="fa fa-angle-down"></i></a>
                </div>
                <div [id]="'collapse' + faq.id" class="collapse show" [attr.aria-labelledby]="'heading' + faq.id" data-parent="#accordion">
                  <div class="card-body">
                    {{faq.answer}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- faq up -->
  </section>
  <!-- sign up -->
</div>
<!--FAQ Section start-->
<app-footer></app-footer>
