<app-header></app-header>
<!--FAQ Section start-->
<div class="page-margin">
  <!--breadcrumb start-->
  <div class="breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-text-center d-align-center">
          <h2 class="title"><span>FAQ</span></h2>
        </div>
        <div class="col-md-6 col-sm-6 col-text-center">
          <nav aria-label="breadcrumb" class="blog-bradcrumb ">
            <ol class="breadcrumb bg-transparent mb-0">
              <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
              <li class="breadcrumb-item active"><a [routerLink]="'pages/faq'">FAQ</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--breadcrumb end -->
  <!-- sign in -->
  <section>
    <!--faq in -->
    <div class="faq">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="accordion">
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <a class="">¿Como ingresar al club diabetico? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Para ingresar al club debe enviar la información de contacto al final del portal, para que se le agende una cita con un médico del club, luego de ser evaluado en dicha cita se procederá a decidir si es apto (cuenta con la patología) para pertenecer al club, de ser este el caso se procederá al registro solicitando datos adicionales al paciente, de lo contrario no será permitido como paciente de club.
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <a class="">¿Cuales son los requisitos para ingresar como paciente? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    Para que una persona sea admitida en el club, debe padecer la patología de la diabetes u otra asociada a esta y haber llenado con éxito el formulario de inscripción.
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <a class="">¿Cual es la ubicacion del club? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Ascardio, calle 12 entre carreras 18 y 17. Barquisimeto, edo. Lara.
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  <a class="">¿Por que deberia inscribirme si soy diabetico? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                    Porque es una oportunidad para aprender sobre todos los aspectos de la enfermedad, como convivir sanamente con ella, asi como tambien realizar actividades que ayuden a mejorar la salud física y mental de la persona, considerando también el contacto y apoyo que puedan brindarle otros miembros y personal del club y especialmente la familia del paciente, a la cual se le darán herramientas para que puedan servir de apoyo en el manejo de la enfermedad del paciente. 
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                  <a class="">¿En que especialidades medicas me puede apoyar el club? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                  <div class="card-body">
                    Existen médicos especialistas en cardiología, endocrinología, oftalmología, podología, odontología, así también como nutricionistas y psicologos.
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                  <a class="">¿Como instalar la app del club? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                  <a class="">¿Como ingresar al club como miembro del grupo de apoyo? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingEight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                  <a class="">¿Se debe cancelar alguna cuota para pertenecer y beneficiarse del club? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                  <div class="card-body">
                    No, este es un servicio que, actualmente, no posee cuota para registrarse y pertenecer al club, es decir es totalmente gratuito.
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingNine" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                  <a class="">¿Cuales son las funciones principales del club? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                  <div class="card-body">
                    Las funciones fundamentales del club son las de capacitar y enseñar a sus miembros formas de llevar un sano estilo de vida en conjunto a su patología, y por otra parte, brindar el apoyo en el seguimiento de su condición.
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingTen" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                  <a class="">¿Cuales son las reglas del club? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingEleven" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
                  <a class="">¿Como agendar una cita? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="headingTwelve" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseThree">
                  <a class="">¿Como inscribirse en una actividad? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card border-theme mb-3 radius-0">
                <div class="card-header" id="heading13" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapseThree">
                  <a class="">¿Puedo cancelar mi asistencia a una cita o actividad? <i class="fa fa-angle-down"></i></a>
                </div>
                <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- faq up -->
  </section>
  <!-- sign up -->
</div>
<!--FAQ Section start-->
<app-footer></app-footer>
